<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jimmy.dao.UserCheckMapper">
    <resultMap id="BaseResultMap" type="com.jimmy.entity.UserInfo">
        <id column="id"                     jdbcType="BIGINT"           property="id"/>
        <result column="username"          property="userName"         jdbcType="VARCHAR"/>
        <result column="password"          property="passWord"         jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUserInfo" parameterType="com.jimmy.entity.UserInfo" resultType="com.jimmy.entity.UserInfo">
        SELECT
        username AS userName,
        password AS passWord
        from study
        where username = #{userName,jdbcType=VARCHAR}
    </select>

    <!--<insert id="insert" parameterType="com.baofu.cbpayservice.dal.models.TPayeeAccountDo">-->
        <!--INSERT INTO T_PAYEE_ACCOUNT (-->
            <!--ID,-->
            <!--APPLY_ID,-->
            <!--MEMBER_ACC_NO,-->
            <!--BANK_ACC_NO,-->
            <!--ROUTING_NUMBER,-->
            <!--MEMBER_ID,-->
            <!--CCY,-->
            <!--WALLET_ID,-->
            <!--STATUS,-->
            <!--REMARKS,-->
            <!--CREATE_AT,-->
            <!--CREATE_BY,-->
            <!--UPDATE_AT,-->
            <!--UPDATE_BY-->
        <!--) VALUES(-->
            <!--#{id,jdbcType=BIGINT},-->
            <!--#{applyId,jdbcType=BIGINT},-->
            <!--#{memberAccNo,jdbcType=VARCHAR},-->
            <!--#{bankAccNo,jdbcType=VARCHAR},-->
            <!--#{routingNumber,jdbcType=VARCHAR},-->
            <!--#{memberId,jdbcType=BIGINT},-->
            <!--#{ccy,jdbcType=CHAR},-->
            <!--#{walletId,jdbcType=VARCHAR},-->
            <!--#{status,jdbcType=TINYINT},-->
            <!--#{remarks,jdbcType=VARCHAR},-->
            <!--NOW(),-->
            <!--#{createBy,jdbcType=VARCHAR},-->
            <!--NOW(),-->
            <!--#{updateBy,jdbcType=VARCHAR})-->
  <!--</insert>-->


</mapper>